@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloccato";
}

<hgroup>
    <h1 class="text-danger">Bloccato.</h1>
    <h2 class="text-danger">Questo account è stato bloccato, riprovare più tardi.</h2>
</hgroup>
