@{
    ViewBag.Title = "Conferma e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Grazie per aver confermato l'indirizzo e-mail. @Html.ActionLink("Fare clic qui per accedere", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
