@{
    ViewBag.Title = "Conferma password dimenticata";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Controllare la posta elettronica per reimpostare la password.
    </p>
</div>
	
